pip==24.3.1
streamlit
pandas
matplotlib
scikit-learn
statsmodels
xgboost
mysql-connector-python
pymysql
joblib
requests
googlemaps
numpy
seaborn
plotnine
geopandas
reportlab
firebase_admin
scipy
pytest
vl-convert-python
